.encabezado{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    
}

.divlogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    margin-left: 4rem;
    justify-content: center;
    text-align: center;
    transition: all 700ms;
    
}

.logo img{
    width: 250px;
    border-radius: 10px;
}

.mostrarnav{
    display: none;
}

.logo:hover{
    transform: scale(1.1);
}

.divboton{
    margin-right: 3rem;
    font-size: 0.85rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.botonheader {
    text-decoration: none;
    color: white;
    margin-left: 0.3rem;
    padding: 0.6rem;
    transition: all 1000ms;
    text-align: left;
}

.botonheader:hover{
    background-color: rgb(255, 0, 204);
    border-radius: 20px;
}

.carrito{
    font-size: larger;
}



@media (max-width: 1100px){
    .encabezado{
        flex-direction: column;
    }

    .logo{
        margin-left: 0;

    }
}

@media (max-width: 770px) {

    .logo{
        margin-right: 8rem;
        margin-bottom: 0;
    }
    .mostrarnav{
        border-radius: 10px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: white;
    }

    .mostrarnav img{
        
        width: 34px;
    }

    .divboton{
        display: none;
    }

    .mostrar{
        font-size: 1rem;
        padding: 0.2rem;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        height: 100vh;
        opacity: 0.9;
    }

    .mostrar .botonheader{
        text-align: left;
    }


}

@media (max-width: 400px) {
    .logo img{
        margin-left: 3rem;
        width: 200px;
    }
}


